.container
  .row.justify-content-center
    .col-md-6.col-lg-4
      - if @event
        .card.shadow-sm
          = image_tag @event.image, class: "", style: 'width: 100%; height: 300px; object-fit: cover;'
          .card-body
            %h2.card-title= @event.name
            .d-flex.card-text.text-muted.mb-3
              #{ l @event.start_date }〜#{ l @event.end_date }
            .d-grid= link_to '詳細を見る', @event.url, class: "btn btn-primary"
            .d-flex.justify-content-around.mt-5
              = button_to event_path(@event, event: { checked: true}), method: :patch, data: { turbo: false }, class: 'btn btn-outline-danger' do
                %i.bi.bi-hand-thumbs-down-fill | 興味ない
              = button_to calendar_path(summary: @event.name, start_date: @event.start_date, end_date: @event.end_date, url: @event.url, id: @event.id), method: :post, data: { turbo: false }, class: 'btn btn-outline-success' do
                %i.bi.bi-hand-thumbs-up-fill | いいね!
      - else
        %h2.card-title.text-center.mt-5 現在イベントはありません
